*{
    margin: 5px;
    padding: 0;
    box-sizing:border-box;
}

header {
  text-align: center;
  padding: 10px;
  background-color: lightgray;
}

i {
  padding: 5px;
  font-size: 20px;
}

#hero {
  height: 100%;
  width: 100%;
  padding: 0px;
  position: absolute;
}

#hero picture{
  padding: 0px;
  margin: 0px;
  position: relative;
}

#hero img {
  object-fit: cover;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#hero source {
  margin: 0px;
  padding: 0px;
}

a {
    color: black;
}

#hero h2 {
  text-align: left;
  background-color: lightgray;
  width: fit-content;
  padding: 10px;
  position:absolute;
  top: 50%;
}

#join button {
  padding: 10px;
  width: 90%;
}

#join p {
  margin-top: 20px;
}

#hero button {
  font-size: 20px;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
}

a:hover, i:hover {
    color: tomato;
    background-color: black;
}

#event span {
  color: red;
}

h1,
h2 {
  font-size: 30px;
  margin: 7px;
}

#logoImg {
  width: 120px;
  height: auto;
}

.spotlightTitle, #join h2, #event h2, #weather h2, #news h2{
  color: darkgreen;
}

section {
  margin: 10px;
}

#spot1, #spot2, #spot3, #event, #join, #weather, #news{
  background-color: lightgray;
}

#hero {
  /* background-image: url("https://img.jakpost.net/c/2017/12/11/2017_12_11_37092_1512964748._large.jpg"); */
  background-size:cover;
  /* height: 200px; */
  position: relative;
}

#diamondLogo {
  width: 20px;
  height: auto;
}

.spotlight {
  background-color: gray;
}

#celsiusPic {
  width: 40px;
  height: auto;
}

#weatherPic {
  width: 60px;
  height: auto;
}

.highlightPic {
  width: 80px;
  height: auto;
}

.btn {
  font-size: 30px;
  margin: 10px;
}

.currentDate {
  font-size: 16px;
  align-items: center;
  margin: 10px;
}

body {
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
}

#body {
  grid-column: 2;
  grid-row: inherit;
}

ul {
  border-radius: 10px;
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  padding: 5px;
}

a:hover {
  text-decoration: none;
}

.disappear {
  display: none;
}

footer {
    background-color: lightgray;
  text-align: center;
  padding: 15px;
}

#celsiusNumber {
  font-size: 40px;
}

#footImg {
  width: 190px;
}

hr {
  width: 90%;
}

main {
  text-align: center;
  grid-column: 2;
}

#location, #contact{
  display: flex;
  align-self:flex-end;
  flex-direction: column;
}

.windSpeed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: none;
}

main div {
  border: 1px solid lightgray;
  padding: 5px;
}

.spotlight {
  text-align: center;
  padding: 0;
}

#mediumContainer,
#spot3,
#join {
  display: none;
}

.gallery picture img {
  width: 100%;
  margin: 0px;
  display: block;
}

/* This is for Join HTML*/
input {
  border: 2px solid black;
  padding: 5px;
}

label,input {
  display: block;
}

input:required{
  border-left: 5px solid red;
}

input:required:valid {
  border-left: 5px solid green;
}

#membershipContent {
  display: grid;
  grid-template-columns: 50% 50%;
}

#form {
  grid-column: 1;
}

#membership {
  border: 2px solid black;
}

#memberships h2 {
  text-align: center;
  background-color: gray;
}

#memberships ul {
  text-align: center;
}

#memberships {
  display: none;
}

/* Thank you page */

#thankYou {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thankyouImg {
  width: 300px;
}

