*{
    margin: 5px;
    padding: 0;
}

header {
  text-align: center;
  padding: 10px;
  background-color: lightgray;
}

i {
  padding: 5px;
  font-size: 20px;
}

a {
    color: black;
}

a:hover, i:hover {
    color: tomato;
}

h1,
h2 {
  font-size: 30px;
  margin: 7px;
}

#logoImg {
  width: 120px;
  height: auto;
}

section {
  margin: 10px;
}

.btn {
  font-size: 30px;
  margin: 10px;
}

.currentDate {
  font-size: 16px;
  align-items: center;
  margin: 10px;
}

body {
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
}

#body {
  grid-column: 2;
  grid-row: inherit;
}

ul {
  border-radius: 10px;
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  padding: 5px;
}

a:hover {
  text-decoration: none;
}

.disappear {
  display: none;
}

footer {
    background-color: lightgray;
  text-align: center;
  padding: 15px;
}

#footImg {
  width: 190px;
}

#linkLocation:hover {
  text-decoration: underline;
}

hr {
  width: 90%;
}

main {
  text-align: center;
  grid-column: 2;
}

main div {
    border: 1px solid lightgray;
  padding: 90px;
  margin: 10px;
}

.spotlight {
  text-align: center;
  padding: 0;
}

#mediumContainer,
#spot3,
#join {
  display: none;
}
